@font-face {
    font-family: "Roboto PDF";
    src: url("assets/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Roboto PDF";
    src: url("assets/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
}
